* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

img {
  display: block;
}

.logo {
  width: 9.5rem;
  max-width: 100%;
}

a,
btn-learn {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
