@import 'mixins';
@import 'general';
@import 'fonts';
@import 'colors';
@import 'header';
@import 'buttons';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*  transform section */
.transform-container {
  display: flex;
  flex-direction: row-reverse;
  height: 33rem;
  min-height: 50%;
  background-color: $white;

  img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-width: 50vw;
  }
  section {
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8.7rem 9rem;
  }

  h2 {
    font-family: $Fraunces-font;
    color: $very-dark-desaturated-blue;
    font-weight: 900;
    font-size: 2.4rem;
    word-spacing: -1px;
    letter-spacing: -2px;
  }

  p {
    font-family: $Barlow-font;
    color: $dark-grayish-blue;
    padding-top: 1.5rem;
    line-height: 30px;
  }

  a {
    position: relative;
    font-family: $Fraunces-font;
    color: $very-dark-desaturated-blue;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    margin: 0.6rem;
  }
}
