@import 'mixins';
@import 'general';
@import 'fonts';
@import 'colors';
@import 'header';
@import 'buttons';
@import 'footer';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*  transform section */
.transform-container {
  display: flex;
  flex-direction: row-reverse;
  height: 33rem;
  min-height: 50%;
  background-color: $white;
  @include respond(small) {
    flex-direction: column;
  }

  .transform-audience {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-width: 50%;

    @include respond(small) {
      background-image: url(/images/mobile/image-transform.jpg);
      width: 100%;
      min-height: 50%;
    }
  }

  .transform-brand {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8.7rem 9rem;
    height: 100%;
    @include respond(large) {
      padding: 7rem 5.5rem;
    }
    @include respond(medium) {
      padding: 5rem 3.5rem;
    }
    @include respond(small) {
      padding: 2rem 1rem;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  h2 {
    font-family: $Fraunces-font;
    color: $very-dark-desaturated-blue;
    font-weight: 900;
    font-size: 2.4rem;

    @include respond(large) {
      font-size: 1.6rem;
    }
    @include respond(medium) {
      font-size: 1.3rem;
    }
    @include respond(small) {
      font-size: 1.6rem;
      word-spacing: 1px;
    }
  }

  p {
    font-family: $Barlow-font;
    color: $dark-grayish-blue;
    padding-top: 1.5rem;
    line-height: 30px;
    font-size: 1rem;
    @include respond(large) {
      line-height: 25px;
    }
    @include respond(medium) {
      line-height: 22px;
      font-size: 0.8rem;
    }
  }

  .btn-learn {
    position: relative;
    font-family: $Fraunces-font;
    color: $very-dark-desaturated-blue;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    margin: 0.6rem;
    z-index: 1;
  }

  .btn-learn::before {
    position: absolute;
    background-color: $yellow;
    opacity: 0;
    left: -6px;
    top: 12px;
    content: '';
    width: 7rem;
    height: 8px;
    border-radius: 15px;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }
  .btn-learn:hover.btn-learn::before {
    opacity: 1;
  }
}

// Standings to the right audience container
.audience-container {
  display: flex;
  flex-direction: row;
  height: 33rem;
  min-height: 50%;
  background-color: $white;
  @include respond(small) {
    flex-direction: column;
  }

  .transform-audience {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-width: 50%;
    @include respond(small) {
      background-image: url(/images/mobile/image-stand-out.jpg);
      width: 100%;
      min-height: 50%;
    }
  }

  .transform-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8.7rem 9rem;
    height: 100%;
    @include respond(large) {
      padding: 7rem 5.5rem;
    }
    @include respond(medium) {
      padding: 5rem 3.5rem;
    }
    @include respond(small) {
      padding: 2rem 1rem;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  h2 {
    font-family: $Fraunces-font;
    color: $very-dark-desaturated-blue;
    font-weight: 900;
    font-size: 2.4rem;
    word-spacing: -1px;
    letter-spacing: -2px;
    @include respond(large) {
      font-size: 1.6rem;
    }
    @include respond(medium) {
      font-size: 1.3rem;
    }
    @include respond(small) {
      font-size: 1.6rem;
      word-spacing: 1px;
    }
  }

  p {
    font-family: $Barlow-font;
    color: $dark-grayish-blue;
    padding-top: 1.5rem;
    line-height: 30px;
    font-size: 1rem;
    @include respond(large) {
      line-height: 25px;
    }
    @include respond(medium) {
      line-height: 22px;
      font-size: 0.8rem;
    }
  }

  .btn-text {
    position: relative;
    font-family: $Fraunces-font;
    color: $very-dark-desaturated-blue;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    margin: 0.6rem;
    z-index: 1;
  }

  .btn-text::before {
    position: absolute;
    background-color: $yellow;
    opacity: 0;
    left: -6px;
    top: 12px;
    content: '';
    width: 7rem;
    height: 8px;
    border-radius: 15px;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }

  .btn-text:hover.btn-text::before {
    opacity: 1;
    background-color: $soft-red;
  }
}

/* Gaphich Design - Photography section */
.graphic-photography {
  display: flex;
  flex-direction: row;
  height: 33rem;
  width: 100%;
  resize: both;
  @include respond(small) {
    flex-direction: column;
    height: 60rem;
  }

  .graphic-container,
  .photography-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .graphic-img,
  .photography-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  .graphic-img {
    @include respond(small) {
      background-image: url(/images/mobile/image-graphic-design.jpg);
      object-fit: cover;
    }
  }

  .photography-img {
    @include respond(small) {
      background-image: url(/images/mobile/image-photography.jpg);
      object-fit: cover;
    }
  }

  .graphic-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60%;
    text-align: center;
    gap: 1.8rem;
    @include respond(medium) {
      gap: 1.1rem;
    }
    @include respond(small) {
      top: 65%;
    }
  }

  .photography-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 60%;
    gap: 1.8rem;
    @include respond(medium) {
      gap: 1.1rem;
    }
    @include respond(small) {
      top: 65%;
    }
  }

  .photography-text h2,
  .photography-text p {
    color: $dark-blue-photography-text;
  }

  h2 {
    font-family: $Fraunces-font;
    font-weight: 900;
    color: $dark-desaturated-cyan-graphic-design-text;
    font-size: 2rem;
    @include respond(medium) {
      font-size: 1.2rem;
    }
    @include respond(small) {
      font-size: 1.6rem;
    }
  }

  p {
    color: $dark-desaturated-cyan-graphic-design-text;
    width: 50%;
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: $Fraunces-font;
    line-height: 1.4rem;
    @include respond(medium) {
      font-size: 0.7rem;
    }
    @include respond(small) {
      font-size: 0.9rem;
      width: 80%;
    }
  }
}

// Clients testimonials
.testimonials-container {
  display: flex;
  @include flex-direction(column);
  color: $white;
  text-align: center;
  min-height: 60vh;
  padding: 8.9rem;
  @include respond(medium) {
    height: 100%;
    width: 100%;
    padding: 2rem;
  }
  @include respond(small) {
    padding: 3rem 2rem;
  }

  .clinets-container {
    display: flex;
    @include flex-direction(row);
    gap: initial;
    margin-top: 4.3rem;
    @include respond(medium) {
      flex-direction: column;
      height: 100%;
      gap: 2rem;
    }
  }

  .client {
    display: flex;
    @include flex-direction(column);
    gap: 3.1rem;
    padding: 0 14px 0 14px;
    @include respond(medium) {
      gap: 1rem;
      padding: 0;
    }
  }

  img {
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    height: 4rem;
  }

  h3 {
    color: $grayish-blue;
    font-family: $Fraunces-font;
    letter-spacing: 5px;
    text-transform: uppercase;
    @include respond(medium) {
      font-size: 1rem;
    }
    @include respond(small) {
      font-size: 0.9rem;
      letter-spacing: 2px;
    }
  }

  .client-feedback {
    color: $dark-grayish-blue;
    line-height: 1.8;
    font-family: $Barlow-font;
    font-weight: 600;
    @include respond(medium) {
      line-height: 1.5;
    }
  }

  .author-container {
    @include flex(center, center, column);
    text-align: center;
    gap: 0.7rem;
    padding-top: 0.8rem;
  }

  .profile {
    color: $very-dark-desaturated-blue;
    font-family: $Fraunces-font;
    font-weight: 900;
    font-size: 1rem;
    @include respond(medium) {
      font-size: 0.7rem;
    }
  }

  .job {
    color: $dark-grayish-blue;
    line-height: 1;
    font-size: 0.8rem;
  }
}

/* Images section */
.images-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  @include respond(small) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  img {
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .milk-img {
    @include respond(small) {
      background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
    }
  }

  .orange-img {
    @include respond(small) {
      background-image: url(/images/mobile/image-gallery-orange.jpg);
    }
  }

  .cone-img {
    @include respond(small) {
      background-image: url(/images/mobile/image-gallery-cone.jpg);
    }
  }

  .sugarcubes-img {
    @include respond(small) {
      background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
    }
  }
}

.attribution {
  font-size: 14px;
  text-align: center;
  font-family: $Fraunces-font;
  background-color: #8ed0c4;
  color: $very-dark-desaturated-blue;
}
.attribution a {
  color: $dark-desaturated-cyan-graphic-design-text;

  &:hover {
    color: $white;
  }
}
